.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.addTask {
  height: 30vh;
  background-color: dodgerblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task button {
  width: auto; /* Gunakan lebar otomatis */
  height: auto; /* Gunakan tinggi otomatis */
  padding: 5px 10px; /* Atur padding di sekitar teks tombol */
  margin-left: 20px;
  text-align: center;
  display: inline-flex; /* Mengubah tombol menjadi inline-flex */
  align-items: center; /* Pusatkan vertikal teks tombol */
  justify-content: center; /* Pusatkan horizontal teks tombol */
}
